@model List<IdentityServer.Client1.Models.Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <td>
                Id
            </td>
            <td>
                Name
            </td>
            <td>
                Price
            </td>
            <td>
                Stock
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Stock
                </td>
            </tr>
        }
    </table>
</body>
</html>
